<p>Here are all our users on the site:</p>

<table>
<% @users.each do |user| %>
    <% if !user.id.even? %>
    <tr><td> <a href="/users/<%= user.slug %>"><%= user.user_name %></a> </td>
    <% else %>
    <td> <a href="/users/<%= user.slug %>"><%= user.user_name %></a> </td></tr>
    <% end %>
<% end %>

<% if !@users.last.id.even? %>
</tr>
<% end %>
</table>