<p>Here are all of <%= @user.user_name %>'s consoles:</p>

<% @user.consoles.each do |console| %>
    <ul>
    <li><%= console.name %></li>
    <li><%= console.release_year %></li>
    <li><%= console.manufacturer %></li>
    </ul>
<% end %>