<!DOCTYPE html>
  <head>
    <title>Gaming Console Collection</title>
    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  
  <body>
   <div class="wrapper">
   <img src="/images/header_banner.png" class="img-responsive main-image">
   <table>
   <tr>
   <td><h2><a href="/">Home</a> // <a href="/users">Users</a> // <a href="/consoles">Game Consoles</a></h2></td>
   <td><% if logged_in? %>
   <h2><a href="/logout">Sign Out</a></h2>
   <% else %>
   <h2><a href="/login">Sign In</a></h2>
   <% end %></td>
   </tr>
   </table>
   
   <%= yield %>

   </div>
  </body>
</html>
