<!DOCTYPE html>
  <head>
    <title>Gaming Console Collection</title>
    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  
  <body>
   <div class="wrapper">
   <img src="images/header_banner.png" class="img-responsive main-image">
   <h2>Sinatra Template Default Page</h2>
   
   <%= yield %>

   </div>
  </body>
</html>
